<ul data-d="<%= d %>">

<% taxonomies.each do |taxonomy| %>
	
	<% taxon = root(taxonomy.id) %>
	<li data-name="<%= taxon.name %>" data-id="<%= taxon.id %>">
		
		<p id="<%= taxon.name %>" class="li-element slide-trigger">

			<span class="icon-list-taxon">
              <i class="icon-chevron-down"></i>
            </span>

			<span class="li-element-text">
              <%= taxon.name %>
            </span>
          <% if on_menu(@menu_items, taxon)%>
              <a class="add-remove" data-state="remove">
                <i class="icont-minus"></i>
              </a>
          <% else %>
              <a class="add-remove" data-state="add">
                <i class="icont-plus"></i>
              </a>
          <% end %>

		</p>
	
		<div class="slide-list">
			
			<% if have_children(taxon.id) %>
				<%= render :partial => 'list', :locals => { :taxons => get_children(taxon.id), :d => d + 1 } %>
			<% end %>

		</div>

	</li>

<% end %>

</ul>