<% if fancy_menu? %>
    <div class="clear-fancy"></div>
    <%= render(:partial => 'spree/shared/set_fancy_menu_inplace') %>
    <nav id="user-fancy-menu" data-hook="user-header-fancy-menu">
      <div class="fancy-container">
        <% if fancy_breadcrumbs?(@taxon) %>
          <div class="breadcrumbs-wrapper fancy-width">
            <ul id="fancy-breadcrumbs" data-hook="header-fancy-breadcrumbs">
              <% set_fancy_breadcrumbs(@taxon.id).each do |item| %>
                <li>
                  <a href="<%= set_fancy_item_link(item.permalink) %>">
                    <span class="item-breadcrumbs-text">
                      <%= item.name %>
                    </span>
                    <span class="divider">/</span>
                  </a>
                </li>
              <% end %>
              <li id="fancy-taxon-selected"><%= @taxon.name %></li>
            </ul>
            <div class="clear-fancy"></div>
          </div>
        <% end %>
        <div class="menu-wrapper fancy-width">
          <ul id="fancy-menu">
            <% set_fancy_menu.each do |item| %>
              <li>
                <%= fancy_item_link(item, @taxon) %>
                <% if need_render?(0, item) %>
                <%= render(:partial => 'spree/shared/set_fancy_menu_dropdown_items', :locals => { :taxon => item, :depth => 1 }) %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <div class="clear-fancy"></div>
        </div>
      </div>
    </nav>
<% end %>