<ul id="depth-<%= depth %>">
	<% taxon.children.each do |item| %>
		<li>
			<% if item.children.any? %>
		     	<%= link_to(set_fancy_item_link(item.permalink), { :class => "menu-dropdown-item-link" }) do %>
		     		<span class="menu-dropdown-item-text">
		     			<%= item.name %>
			     		<i class="icon-chevron-right"></i>
		     		</span>
		    	<% end %>
		    <% else %>
		     	<%= link_to content_tag(:span, item.name, :class => "menu-dropdown-item-text"), set_fancy_item_link(item.permalink), :class => "menu-dropdown-item-link" %>
		    <% end %>
			<% if need_render?(depth, item) %>
				<%= render(:partial => 'spree/shared/set_fancy_menu_dropdown_items', :locals => { :taxon => item, :depth => depth + 1 }) %>
			<% end %>
		</li>
	<%end%>
</ul>